<script>
  const avatar = document.getElementById("avatar");
  const name = document.getElementById("name");
  const email = document.getElementById("email");
  const fullName = name.value;

  function validateForm() {
    let isValid = true;

    // User Avatar validation
    if (avatar.value.trim() === "") {
      document.getElementById("avatarError").textContent =
        "User Avatar is required";
      isValid = false;
    } else {
      document.getElementById("avatarError").textContent = "";
    }

    // User Name validation
    if (name.value.trim() === "") {
      document.getElementById("nameError").textContent =
        "User Name is required";
      isValid = false;
    } else {
      document.getElementById("nameError").textContent = "";
    }

    // User Email validation
    if (email.value.trim() === "") {
      document.getElementById("emailError").textContent =
        "User Email is required";
      isValid = false;
    } else {
      document.getElementById("emailError").textContent = "";
    }

    return isValid;
  }

  const form = document.querySelector(".form-bordered");
  form.addEventListener("submit", updateProfile);

  async function updateProfile(e) {
    e.preventDefault();

    if (!validateForm()) {
      return Swal.fire({
        icon: "error",
        title: "Oops...",
        text: "An error occurred!",
      });
    }

    Swal.fire({
      title: "Are you sure?",
      text: "You won't be able to revert this!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, update it!",
    }).then((result) => {
      if (result.isConfirmed) {
        const formData = new FormData(form);
        const data = Object.fromEntries(formData);

        const response = fetch(form.action, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        }).then((response) => {
          if (response.ok) {
            Swal.fire({
              icon: "success",
              title: "Profile updated successfully",
              text: `Your changes have been saved, ${fullName}!`,
            }).then(() => {
              window.location.reload();
            });
          } else {
            if (response.status === 400) {
              Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "A user account with this email already exists!",
              });
            } else {
              Swal.fire({
                icon: "error",
                title: "Failed to update profile",
                text: "Please check your information",
                footer: '<a href="#">Why do I have this issue?</a>',
              });
            }
          }
        });
      } else if (result.dismiss === Swal.DismissReason.cancel) {
        Swal.fire({
          title: "Cancelled",
          text: "Your account information is safe :)",
          icon: "error",
        }).then(() => {
          window.location.reload();
        });
      }
    });
  }

  document
    .querySelector('p[name="change-password"]')
    .addEventListener("click", function () {
      const email = this.getAttribute("data-email"); // Get the email from the data-email attribute

      Swal.fire({
        title: "Change Password",
        html:
          '<input type="hidden" id="swal-input0" value="' +
          email +
          '">' +
          '<input type="password" id="swal-input1" class="swal2-input" placeholder="Old Password">' +
          '<input type="password" id="swal-input2" class="swal2-input" placeholder="New Password">' +
          '<input type="password" id="swal-input3" class="swal2-input" placeholder="Confirm New Password">',
        focusConfirm: false,
        preConfirm: () => {
          const email = document.getElementById("swal-input0").value;
          const oldPassword = document.getElementById("swal-input1").value;
          const newPassword = document.getElementById("swal-input2").value;
          const confirmPassword = document.getElementById("swal-input3").value;

          if (!oldPassword || !newPassword || !confirmPassword) {
            Swal.showValidationMessage("All fields are required");
          } else if (newPassword === oldPassword) {
            Swal.showValidationMessage(
              "New password must be different from old password"
            );
          } else if (newPassword !== confirmPassword) {
            Swal.showValidationMessage("New passwords do not match");
          } else {
            return { email, oldPassword, newPassword };
          }
        },
      }).then((result) => {
        if (result.isConfirmed) {
          // Send a request to the server to change the password
          fetch("/auth/change-password", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(result.value),
          }).then((response) => {
            if (response.ok) {
              Swal.fire({
                icon: "success",
                title: "Password changed successfully",
                text: `Your changes have been saved, ${fullName}!`,
              }).then(() => {
                window.location.reload();
              });
            } else {
              if (response.status === 403) {
                Swal.fire({
                  icon: "error",
                  title: "Failed to change password",
                  text: "Invalid old password! Please try again.",
                });
              } else {
                Swal.fire({
                  icon: "error",
                  title: "Failed to change password",
                  text: "Please check your information",
                  footer: '<a href="#">Why do I have this issue?</a>',
                });
              }
            }
          });
        }
      });
    });
</script>
