<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head')-%>

  <body>
    <%- include('../partials/nav')-%>

    <main class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h1 class="mt-4">About Us</h1>
          <p>
            This is a placeholder for your about page content. You can write
            about your company, your team, your mission, or anything else you'd
            like to share with your visitors.
          </p>
        </div>
      </div>
    </main>

    <%- include('../partials/footer')-%>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
