<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head')-%>
  <body>
    <main>
      <%- include('../partials/nav')-%>
      <div class="container col-xxl-12 px-4 py-5">
        <div
          class="row flex-lg-row-reverse align-items-center g-5 py-5 bg-grey-50"
        >
          <div class="col-10 col-sm-8 col-lg-6">
            <img
              src="https://res.cloudinary.com/dqqfmuomk/image/upload/v1705898007/image_2024-01-22_113207824_edcqgt.png"
              class="d-block mx-lg-auto img-fluid"
              alt="Orchids Themes"
              width="700"
              height="500"
              loading="lazy"
            />
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
              Welcome to Orchids Dashboard!
            </h1>
            <p class="lead">
              Discover and buy from our unique selection of orchids from around
              the world.
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <a href="/orchids" class="btn btn-bd-primary btn-lg px-4 me-md-2">
                Explore now
              </a>
            </div>
          </div>
        </div>

        <!-- <h1>Upload Image</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
          <input type="file" name="file" accept="image/png, image/jpeg" />
          <button type="submit">Upload</button>
        </form> -->
      </div>
      <%- include('../partials/footer')-%>
    </main>
  </body>
</html>
