<!DOCTYPE html>
<html>
  <head>
    <title>Register Page</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-image: url("https://res.cloudinary.com/dqqfmuomk/image/upload/v1707214983/dotted-pattern_kc500b.png");
      }

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, 0.1);
        border: solid rgba(0, 0, 0, 0.15);
        border-width: 1px 0;
        box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
          inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -0.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
      }

      .bd-mode-toggle {
        z-index: 1500;
      }

      .bd-mode-toggle .dropdown-menu .active .bi {
        display: block !important;
      }

      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }
    </style>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body class="d-flex align-items-center bg-body-tertiary">
    <main class="form-signin w-25 m-auto">
      <a
        href="/"
        class="d-flex flex-wrap align-items-center justify-content-center text-dark text-decoration-none"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          style="width: 5em; height: 5em"
          fill
          viewBox="0 0 1024 1024"
        >
          <path
            d="M375.3728 841.8432c92.96-12.5184 203.8784-71.264 299.5456-166.9248 22.6112-22.6112 43.1616-46.08 61.5232-69.952C712.7616 786.3936 621.2608 921.6 512 921.6c-51.1488 0-98.4-29.632-136.6272-79.7568z m-87.808-422.8096C311.2384 237.6064 402.7328 102.4 512 102.4c51.1488 0 98.4 29.632 136.6272 79.7568-92.96 12.5184-203.8784 71.264-299.5456 166.9248a719.1232 719.1232 0 0 0-61.5232 69.952z m-129.536 139.5648c57.3248 74.2464 163.6608 140.9344 294.336 175.9488a719.1232 719.1232 0 0 0 91.3472 18.304c-168.9664 70.208-331.808 58.5728-386.432-36.0512-25.5744-44.288-23.5456-100.032 0.7552-158.2016z m322.2592-287.4496c168.9664-70.208 331.808-58.5728 386.432 36.0512 25.5744 44.288 23.5456 100.032-0.7552 158.2016-57.3184-74.2464-163.648-140.9344-294.336-175.9488a719.1232 719.1232 0 0 0-91.3408-18.304zM294.656 228.7552c-35.6352 86.7648-40.224 212.1984-5.2032 342.8736a719.1232 719.1232 0 0 0 29.8176 88.256C173.9904 548.6592 102.6432 401.824 157.2736 307.2c25.5744-44.288 74.8608-70.4 137.3824-78.4448z m410.0736 135.36c145.28 111.2256 216.6272 258.0608 161.9968 352.6848-25.5744 44.288-74.8608 70.4-137.3824 78.4448 35.6352-86.7648 40.224-212.1984 5.2032-342.8736a719.1232 719.1232 0 0 0-29.8176-88.256zM512 678.4c-88.3648 0-160-71.6352-160-160s71.6352-160 160-160 160 71.6352 160 160-71.6352 160-160 160z m0-83.2c42.4128 0 76.8-34.3872 76.8-76.8s-34.3872-76.8-76.8-76.8-76.8 34.3872-76.8 76.8 34.3872 76.8 76.8 76.8z"
            fill="#712cf9"
          />
        </svg>
        <span> Orchids </span>
      </a>
      <form method="get" class="mt-5">
        <h1 class="h3 mb-3 text-center fw-normal">Please sign up</h1>

        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="email"
            placeholder="email"
            required
            onblur="validateEmail()"
          />
          <label for="floatingInput">Email</label>
        </div>

        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="name"
            required
            onblur="validateName()"
          />
          <label for="floatingInput">Name</label>
        </div>

        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="psw"
            placeholder="Password"
            required
            onblur="validatePassword()"
          />
          <label for="floatingPassword">Password</label>
        </div>

        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="confirmPsw"
            placeholder="Confirm Password"
            required
            onblur="validateConfirmPassword()"
          />
          <label for="floatingPassword">Confirm Password</label>
        </div>

        <div class="text-center w-full my-3">
          <button
            class="btn btn-bd-primary w-100 py-2"
            type="submit"
            id="loginBtn"
            onclick="checkLogin()"
          >
            Sign in
          </button>
        </div>

        <p class="mt-3 text-center">
          Already have an account?
          <a class="text-decoration-none" href="/login">Please sign in</a>
        </p>
      </form>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      function validateName() {
        const name = document.getElementById("name").value;

        if (!name) {
          Swal.fire({
            icon: "error",
            title: "Submission failed",
            text: "Please fill in the name field",
          });
        }
      }

      function validateEmail() {
        const email = document.getElementById("email").value;
        const emailRegex = /^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}$/;

        if (!emailRegex.test(email)) {
          Swal.fire({
            icon: "error",
            title: "Invalid email format",
            text: "Please enter a valid email",
          });
        }
      }

      function validatePassword() {
        const password = document.getElementById("psw").value;

        if (!password) {
          Swal.fire({
            icon: "error",
            title: "Submission failed",
            text: "Please fill in the password field",
          });
        }

        if (password.length < 5) {
          Swal.fire({
            icon: "error",
            title: "Invalid password",
            text: "Password must be at least 5 characters long",
          });
          return;
        }
      }

      function validateConfirmPassword() {
        const password = document.getElementById("psw").value;
        const confirmPassword = document.getElementById("confirmPsw").value;

        if (password !== confirmPassword) {
          Swal.fire({
            icon: "error",
            title: "Passwords do not match",
            text: "Please make sure your passwords match",
          });
        }
      }

      async function checkLogin() {
        event.preventDefault();

        const name = document.getElementById("name").value;
        const email = document.getElementById("email").value;
        const password = document.getElementById("psw").value;
        const confirmPassword = document.getElementById("confirmPsw").value;

        if (password !== confirmPassword) {
          Swal.fire({
            icon: "error",
            title: "Passwords do not match",
            text: "Please make sure your passwords match",
          });
          return;
        }

        const response = await fetch("/auth/register", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ name, email, password }),
        });

        if (response.ok) {
          const data = await response.json();

          Swal.fire({
            icon: "success",
            title: "Registered successfully",
            text: `Welcome, ${data.name}!`,
          }).then(() => {
            window.location.href = "/login";
          });
        } else {
          if (response.status === 400) {
            Swal.fire({
              icon: "error",
              title: "Oops...",
              text: "A user account with this gmail already exists!",
            });
          } else {
            Swal.fire({
              icon: "error",
              title: "Failed to register",
              text: "Please check your information",
              footer: '<a href="#">Why do I have this issue?</a>',
            });
          }
        }
      }
    </script>
  </body>
</html>
