<div class="dropdown">
  <button
    class="btn btn-light dropdown-toggle"
    type="button"
    id="dropdownMenuButton1"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <img
      src="<%= locals.user.avatar || 'https://static-00.iconduck.com/assets.00/avatar-default-symbolic-icon-479x512-n8sg74wg.png' %>"
      class="object-fit-cover rounded-circle"
      width="36"
      height="36"
    />
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li>
      <span class="dropdown-item-text"><%= locals.user.email %></span>
    </li>
    <li>
      <a class="dropdown-item" href="/users/me/<%= locals.user.slug %>"
        ><i class="fa-solid fa-user"></i> Profile</a
      >
    </li>
    <% if (locals.user.isAdmin === true) { %>
    <li class="dropdown-submenu">
      <a class="dropdown-item dropdown-toggle" href="#"
        ><i class="fa-solid fa-table"></i> Dashboard</a
      >
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/dashboard/orchids">Orchids</a></li>
        <li><a class="dropdown-item" href="/dashboard/users">Users</a></li>
      </ul>
    </li>
    <% } %>
    <li><hr class="dropdown-divider" /></li>
    <li>
      <form action="/auth/logout" method="get">
        <button type="submit" id="logoutButton" class="dropdown-item">
          <i class="fa-solid fa-right-from-bracket"></i> Logout
        </button>
      </form>
    </li>
  </ul>
</div>
